[user]
	name = Sean Zellmer
	email = sean@lejeunerenard.com
	signingkey = 31660419
[color]
	ui = auto
[core]
   edtior = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[include]
  path = ~/.machine-gitconfig
