# Dumper Debuging
snippet dumper standard dumper print
	print ${1:STDERR} "${2:variable}: ".Dumper($${3:$2})."\n";
snippet dumper visual dumper print
	print ${1:STDERR} "${2:{VISUAL}}: ".Dumper(${3:{VISUAL}})."\n";
